<div class="container">
    <div class="row">
        <div class="col-md-12">
    </div>
</div>


<button class="btn btn-primary" (click)="onToggleDetails()" >Display </button>
<p *ngIf="showSecret">SECRET PASS = TUNA</p>
<div *ngFor="let logItem of log" [ngStyle]="{backgroundColor: logItem >= 5 ? 'red' : 'transparent'}"
    [ngClass]="{'white-text' : logItem >= 5}"
    >
    {{logItem}}

</div>

<h3>New App </h3>
<hr>

<app-servers></app-servers>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>